<body class="layout-top-nav light-skin theme-primary fixed">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container-full">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="d-flex align-items-center">
          <div class="me-auto">
            <h4 class="page-title">Food</h4>
            <div class="d-inline-block align-items-center">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#"><i class="mdi mdi-home-outline"></i></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Food List
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!--Add food Modal -->
      <form class="clearfix" [formGroup]="formStructure" (ngSubmit)="onSubmit()">
        <div class="modal center-modal fade" id="modal-add" tabindex="-1">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">New Food</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <section class="content">
                  <div class="row">
                    <div class="col-xl-6 col-12">
                      <div class="box">
                        <div class="box-header">
                          <h4 class="box-title">Add Food</h4>
                        </div>
                        <div class="box-body">
                          <div class="row"> 
                            <div class="col-md-12 mb-3">
                              <label class="form-label">Food Name</label>
                              <input type="text" class="form-control ps-15 bg-transparent{{
                                  formSrv$.checkFormControlInvalid(
                                    'name',
                                    formStructure
                                  )
                                    ? ' is-invalid'
                                    : ''
                                }}" placeholder="Food Name" required formControlName="name" />
                              <div class="invalid-feedback" *ngIf="
                                  formSrv$.checkFormControlInvalid(
                                    'name',
                                    formStructure
                                  )
                                ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>
                            </div>

                            <div class="col-md-6 mb-3">
                              <label class="form-label">Select Category</label>
                              <select class="form-select" formControlName="categoryId">
                                  <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                              </select>
                              <div class="invalid-feedback" *ngIf="formSrv$.checkFormControlInvalid('categoryId', formStructure)">
                                  <i class="ic-error"></i> {{ "Please select a category" }}
                              </div>
                          </div>
                          
                            <div class="col-md-6 mb-3">
                              <label class="form-label">Price</label>
                              <input type="text" class="form-control" placeholder="NRP. 0.00" required
                                formControlName="price" />
                              <div class="invalid-feedback" *ngIf="
                                formSrv$.checkFormControlInvalid(
                                  'price',
                                  formStructure
                                )
                              ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>

                            </div>
                            <div class="col-md-12 mb-3">
                              <label class="form-label">Label</label>
                              <input type="text" class="form-control ps-15 bg-transparent{{
                                  formSrv$.checkFormControlInvalid(
                                    'label',
                                    formStructure
                                  )
                                    ? ' is-invalid'
                                    : ''
                                }}" placeholder="add label here" formControlName="label" required
                                style="font-style: italic;" />
                              <div class="invalid-feedback" *ngIf="
                                  formSrv$.checkFormControlInvalid(
                                    'label',
                                    formStructure
                                  )
                                ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>
                            </div>

                            <div class="col-md-12 mb-3">
                              <label class="form-label">Description</label>
                              <textarea rows="7" class="form-control ps-15 bg-transparent{{
                                  formSrv$.checkFormControlInvalid(
                                    'description',
                                    formStructure
                                  )
                                    ? ' is-invalid'
                                    : ''
                                }}" placeholder="Message" formControlName="description" required></textarea>
                              <div class="invalid-feedback" *ngIf="
                                  formSrv$.checkFormControlInvalid(
                                    'description',
                                    formStructure
                                  )
                                ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-12">
                      <div class="box">
                        <div class="box-header">
                          <h4 class="box-title">Add Images</h4>
                        </div>
                        <div class="box-body">
                          <div class="product-img text-start">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <img
                                  src="../../../../assets/images/food/dals.jpg"
                                  alt=""
                                  class="img-fluid mb-15"
                                  id="imagePreviewAdd"
                                />
                              </div>
                              <div class="col-lg-6 col-12">
                                <p>Upload Another Image</p>
                                <div class="btn btn-info mb-20 d-block">
                                  <input
                                    type="file"
                                    class="upload"
                                    (change)="onImageChangeAdd($event)"
                                  />
                                </div>
                                <div class="d-flex gap-2">
                                  <button class="btn btn-warning mr-2">
                                    Edit
                                  </button>
                                  <button class="btn btn-danger">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary float-end">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- /.Add Food Modal -->

      <!--Edit Food Modal -->
      <form class="clearfix" [formGroup]="formStructure">
        <div class="modal center-modal fade" id="modal-edit" tabindex="-1">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Food</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <section class="content">
                  <div class="row">
                    <div class="col-xl-6 col-12">
                      <div class="box">
                        <div class="box-header">
                          <h4 class="box-title">Edit Food</h4>
                        </div>
                        <div class="box-body">
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <label class="form-label">Food Name</label>
                              <input type="text" class="form-control ps-15 bg-transparent{{
                                  formSrv$.checkFormControlInvalid(
                                    'name',
                                    formStructure
                                  )
                                    ? ' is-invalid'
                                    : ''
                                }}" placeholder="Food Name" required formControlName="name" />
                              <div class="invalid-feedback" *ngIf="
                                  formSrv$.checkFormControlInvalid(
                                    'name',
                                    formStructure
                                  )
                                ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label class="form-label">Select Category</label>
                              <select class="form-select" formControlName="categoryId">
                                <!-- Assuming you're using formControlName for reactive form -->
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
                                </option>
                              </select>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label class="form-label">Price</label>
                              <input type="text" class="form-control" placeholder="NRP. 0.00" required
                                formControlName="price" />
                              <div class="invalid-feedback" *ngIf="
                                formSrv$.checkFormControlInvalid(
                                  'name',
                                  formStructure
                                )
                              ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>

                            </div>
                            <div class="col-md-12 mb-3">
                              <label class="form-label">Label</label>
                              <input type="text" class="form-control ps-15 bg-transparent{{
                                  formSrv$.checkFormControlInvalid(
                                    'label',
                                    formStructure
                                  )
                                    ? ' is-invalid'
                                    : ''
                                }}" placeholder="add offer here" formControlName="label" required
                                style="font-style: italic;" />
                              <div class="invalid-feedback" *ngIf="
                                  formSrv$.checkFormControlInvalid(
                                    'label',
                                    formStructure
                                  )
                                ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>
                            </div>
                            <div class="col-md-12 mb-3">
                              <label class="form-label">Description</label>
                              <textarea rows="7" class="form-control ps-15 bg-transparent{{
                                  formSrv$.checkFormControlInvalid(
                                    'description',
                                    formStructure
                                  )
                                    ? ' is-invalid'
                                    : ''
                                }}" placeholder="Message" formControlName="description" required></textarea>
                              <div class="invalid-feedback" *ngIf="
                                  formSrv$.checkFormControlInvalid(
                                    'description',
                                    formStructure
                                  )
                                ">
                                <i class="ic-error"></i> {{ "Required Field" }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-12">
                      <div class="box">
                        <div class="box-header">
                          <h4 class="box-title">Add Images</h4>
                        </div>
                        <div class="box-body">
                          <div class="product-img text-start">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <img
                                  src="../../../../assets/images/food/dals.jpg"
                                  alt=""
                                  class="img-fluid mb-15"
                                  id="imagePreviewEdit"
                                />
                              </div>
                              <div class="col-lg-6 col-12">
                                <p>Upload Another Image</p>
                                <div class="btn btn-info mb-20 d-block">
                                  <input
                                    type="file"
                                    class="upload"
                                    (change)="onImageChangeEdit($event)"
                                  />
                                </div>
                                <div class="d-flex gap-2">
                                  <button class="btn btn-warning mr-2">
                                    Edit
                                  </button>
                                  <button class="btn btn-danger">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="button" class="btn btn-primary float-end" (click)="updateFood()">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- /.edit food Modal -->

      <!-- Main content -->
      <section class="content">
        <section class="content">
          <!-- Content Wrapper. Contains page content -->
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title btn-group nav-item">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-add">
                  Add Food
                </button>
              </h4>
            </div>
            <div class="box-body">
              <div class="table-responsive rounded card-table">
                <table class="table border-no" id="example1 align-items-center">
                  <thead class="align-items-center">
                    <tr class="bg-warning">
                      <th>ID</th>
                      <th></th>
                      <th>Name</th>
                      <th>Details</th>
                      <th>Category</th>
                      <th>Price (Rs)</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="align-items-center">
                    <tr class="hover-primary" *ngFor="let foodItem of food" (click)="redirectToFoodDetail(foodItem)">
                      <td>{{ foodItem.id }}</td>
                      <td><img src="{{foodItem.imageUrl}}" style="width: 20mm; height: 20mm; object-fit: contain;"></td>
                      <td>
                        {{ foodItem.name }}
                      </td>
                      <td>{{ foodItem.description }}</td>
                      <td>{{ foodItem.categoryName }}</td>
                      <td>{{ foodItem.price }}</td>
                      <td (click)=" $event.stopPropagation()">
                        <div class="btn-group">
                          <a class="hover-primary dropdown-toggle no-caret" data-bs-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                          </a> 
                          <div class="dropdown-menu">
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-edit" (click)="onEdit(foodItem); $event.stopPropagation()">Edit</a>
                            <a class="dropdown-item hover-danger" (click)="deleteFoodItems(foodItem.id); $event.stopPropagation()">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!-- /.content-wrapper -->
        </section>
      </section>
    </div>
  </div>
</body>